<!DOCTYPE html>
<html lang="en" ng-app="recordApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no"> <!--移动设备优先, 禁止缩放-->
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Record</title>

    <link href="../framework/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/record.css" rel="stylesheet">

</head>
<body id="recordMain">
    <div class="container" ng-controller="recordController">
        <div id="record">
            <ul id="recordTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#expend" data-toggle="tab">支出</a>
                </li>
                <li>
                    <a href="#income" data-toggle="tab">收入</a>
                </li>
            </ul>
            <div id="recordContent" class="tab-content">
                <!--支出-->
                <div class="tab-pane fade in active" id="expend">
                    <!--分类-->
                    <table class="table classify">
                        <thead>
                            <tr>
                                <th>分类</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="classifyChild">
                                    <select class="form-control" ng-model="recordData.classify">
                                        <!--衣:服饰、网购、化妆护肤-->
                                        <optgroup label="衣">
                                            <option value="服饰" style="background-color: lightpink">服饰</option>
                                            <option value="网购" style="background-color: lightgreen">网购</option>
                                            <option value="化妆" style="background-color: lightgoldenrodyellow">化妆</option>
                                            <option value="护肤" style="background-color: lightskyblue">护肤</option>
                                        </optgroup>
                                        <!--食：外出吃饭、蔬菜水果、零食、医疗-->
                                        <optgroup label="食">
                                            <option value="吃饭" style="background-color: lightyellow">吃饭</option>
                                            <option value="蔬菜" style="background-color: lightgreen">蔬菜</option>
                                            <option value="水果" style="background-color: lightsalmon">水果</option>
                                            <option value="零食" style="background-color: lavenderblush">零食</option>
                                            <option value="医疗" style="background-color: lightskyblue">医疗</option>
                                        </optgroup>
                                        <!--住：租房、电费、话费、日用品、娱乐-->
                                        <optgroup label="住">
                                            <option value="房租" style="background-color: lemonchiffon">房租</option>
                                            <option value="电费" style="background-color: lightsalmon">电费</option>
                                            <option value="话费" style="background-color: lightslategrey">话费</option>
                                            <option value="日用" style="background-color: lightpink">日用</option>
                                            <option value="娱乐" style="background-color: lightseagreen">娱乐</option>
                                        </optgroup>
                                        <!--行：交通-->
                                        <optgroup label="行">
                                            <option value="交通" style="background-color: lightskyblue">交通</option>
                                        </optgroup>
                                    </select>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <!--备注-->
                    <table class="table remark">
                        <thead>
                            <tr>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" ng-model="recordData.remark" placeholder="如：望湘园吃饭" class="form-control" id="remark"></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--日期-->
                    <table class="table date">
                        <thead>
                        <tr>
                            <th>日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="date" ng-model="recordData.date" placeholder="日期" class="form-control" id="date" value=""></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--钱钱-->
                    <table class="table money">
                        <thead>
                        <tr>
                            <th>Money</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" ng-model="recordData.money" placeholder="￥0.00" class="form-control" id="money"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--计算器-->
                    <table class="table calculator">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="calculatorMain">
                                        <div ng-repeat="item in data" class="calculatorRow">
                                            <div class="calculatorCol" ng-repeat="a in item" ng-class="showClass($index,a)" ng-click="showResult(a)">{{ a }}</div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-warning" id="recordBtn" ng-click="applyExpend()">记账</button>
                </div>
                <!--收入-->
                <div class="tab-pane fade" id="income">
                    <!--分类-->
                    <table class="table classify">
                        <thead>
                        <tr>
                            <th>分类</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="classifyChild">
                                    <select class="form-control" ng-model="recordData.classify">
                                        <option value="工资" style="background-color: lightpink">工资</option>
                                        <option value="红包" style="background-color: lightgreen">红包</option>
                                        <option value="兼职" style="background-color: lightgoldenrodyellow">兼职</option>
                                        <option value="投资" style="background-color: lightskyblue">投资</option>
                                        <option value="奖金" style="background-color: lightsalmon">奖金</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--备注-->
                    <table class="table remark">
                        <thead>
                        <tr>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" ng-model="recordData.remark" placeholder="如：北京加维" class="form-control" id="remark1"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--日期-->
                    <table class="table date">
                        <thead>
                        <tr>
                            <th>日期</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="date" ng-model="recordData.date" placeholder="日期" class="form-control" id="date1" value=""></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--钱钱-->
                    <table class="table money">
                        <thead>
                        <tr>
                            <th>Money</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="text" ng-model="recordData.money" placeholder="￥0.00" class="form-control" id="money1"></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--计算器-->
                    <table class="table calculator">
                        <tbody>
                        <tr>
                            <td>
                                <div class="calculatorMain">
                                    <div ng-repeat="item in data" class="calculatorRow">
                                        <div class="calculatorCol" ng-repeat="a in item" ng-class="showClass($index,a)" ng-click="showResult(a)">{{ a }}</div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button class="btn btn-warning" id="recordBtn1" ng-click="applyIncome()">记账</button>
                </div>
            </div>
        </div>
    </div>


    <script src="../framework/jQuery/jquery.min.js"></script>
    <script src="../framework/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../framework/Angular/angular.min.js"></script>
    <script src="../js/record.js"></script>
    <script src="../plugins/calculator.js"></script>
</body>
</html>